/*ESTILO GENERAL*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

h1,
h2 {
    text-align: center;
}

/*BOTON PRINCIPAL*/
#btnAgregar {
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

/*CONTADOR DE PRODUCTOS*/
#contador {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/*FORMULARIO DE PRODUCTOS*/
#contenedorFormulario {
    width: 300px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #1bc2db;
    background-color: #b2e8f0;
}

.oculto {
    display: none;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
}

/*CATALOGO DE PRODUCTOS*/
#catalogo {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    gap: 20px;
    justify-content: center;
}

/*TARJETAS DE PRODUCTOS*/
.tarjeta {
    border: 1px solid #1bc2db;
    padding: 5px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
    background: white;
}

.tarjeta:hover {
    transform: scale(1.05);
}

.tarjeta img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/*DETALLES*/
.detalles {
    background: #eee;
    padding: 5px;
    margin-top: 8px;
    border-radius: 4px;
}