.avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    /*recorte circular */
    border: 4px solid #fff;
    /* borde blanco */
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}